# 高德api 基础配置
[gaode]
def_gaode_api = https://restapi.amap.com/v5/place/around
def_gaode_key = f7d16f5e0e3a2c832557df258843a41b

# 小店配置
[shop_1]
#小店名称
shop_name = 英冠乐创城京东
# 小店经纬度
location = 120.249101,30.206124
# 周边半径，单位（m）
radius = 1000
# 每页条数, page_size的取值1-25
page_size = 25
# 请求第几分页, page_num的取值1-100
page_num = 1
# 高德POI值，对应查询周边类型(120300:住宅)
types = 120300

# 小店配置
[shop_2]
#小店名称
shop_name = 开心果超市
# 小店经纬度
location = 119.738703,29.976599
# 周边半径，单位（m）
radius = 1000
# 每页条数, page_size的取值1-25
page_size = 25
# 请求第几分页, page_num的取值1-100
page_num = 1
# 高德POI值，对应查询周边类型(120300:住宅)
types = 120300

# 小店配置
[shop_3]
#小店名称
shop_name = 云蚂蚁
# 小店经纬度
location = 119.458272,29.941768
# 周边半径，单位（m）
radius = 1000
# 每页条数, page_size的取值1-25
page_size = 25
# 请求第几分页, page_num的取值1-100
page_num = 1
# 高德POI值，对应查询周边类型(120300:住宅)
types = 120300

# 小店配置
[shop_4]
#小店名称
shop_name = 天猫君尚便利店
# 小店经纬度
location = 120.199812,30.206491
# 周边半径，单位（m）
radius = 1000
# 每页条数, page_size的取值1-25
page_size = 25
# 请求第几分页, page_num的取值1-100
page_num = 1
# 高德POI值，对应查询周边类型(120300:住宅)
types = 120300


# 安居客基础配置
[an_ju_ke]
# 安居客查询小区code api
community_code_url = https://hangzhou.anjuke.com/esf-ajax/community/pc/autocomplete
# 安居客城市编码
city_id = 18
# 安居客小区code查询类型
type = 2