<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/createClass" method="post" datatype="application/json">
    <div style="width: 100%; min-height: 200px; border: 0px silver solid;float: left;">
        <div style="width: 40%;  float: left; ">
            <h4>数据库连接信息</h4>
            <div>IP地址:</div>
            <input id="database_host">
            <div>端口:</div>
            <input id="database_port" placeholder="默认3306">
            <div>数据库:</div>
            <input id="database_baseName">
            <div>用户名:</div>
            <input id="database_userName">
            <div>密码:</div>
            <input id="database_password">
        </div>

        <div style="width: 60%; height: 170px; float:right;">
            <h4>生成类的基本信息</h4>
            <hr/>
            <div>包路径:</div>
            <input id="package_url" placeholder="非必填:com.xxx.xxx..."><br/>
            <div>作者:</div>
            <input id="author" placeholder="非必填"><br/>
            <br>

            <h4>选择需要的module</h4>
            <hr/>
            <input type="checkbox" value="1" name="controller" id="controller"/> Controller<br/>
            <input type="checkbox" value="1" name="service" id="service"/> Service<br/>
            <input type="checkbox" value="1" name="dao" id="dao"/> Dao<br/>
            <input type="checkbox" value="1" name="entity" id="entity"/> Entity<br/>
            <br>

            <h4>选择需要的业务方法</h4>
            <hr/>
            <input type="checkbox" value="1" name="page" id="page"/> page<br/>
            <input type="checkbox" value="1" name="list" id="list"/> list<br/>
            <input type="checkbox" value="1" name="save" id="save"/> save<br/>
            <input type="checkbox" value="1" name="update" id="update"/> update<br/>
            <input type="checkbox" value="1" name="deleteById" id="deleteById"/> deleteById<br/>
            <input type="checkbox" value="1" name="selectById" id="selectById"/> selectById<br/>
            <br>
        </div>
    </div>
    <hr>
    <p>
        <input type="submit" id="commit" name="commit" value=" 提  交 " style="margin-left: 47%">
    </p>
</form>
{% if msg %}
<strong>msg:</strong> {{ msg }}
{% endif %}
{% if file_name %}
<strong>下载文件:</strong> <a href="/download/{{ file_name }}">{{ file_name }}</a>
{% endif %}

</body>
</html>