package {{ package }};

import {{ package }}.BaseDao;
import {{ entity_package }};

/**
 * Description: {{ class_name }} 数据库操作类
 *
 * @author {{ author }}
 * @date {{ date }}
 * @version 1.0
 */
public class {{ class_name }}Dao extends BaseDao<{{ class_name }}, Long> {


    /**
     * 分页查询
     *
     * @param objectMap
     * @return
     */
    List<{{ class_name }}> pageList(Map<String, Object> objectMap);

    /**
     * 根据id查询详情
     *
     * @param id
     * @return
     */
    {{ class_name }} selectById(@Param("id") Long id);

    /**
     * 新增
     *
     * @param obj
     * @return
     */
    int insert({{ class_name }} obj);

    /**
     * 编辑
     *
     * @param obj
     * @return
     */
    int update({{ class_name }} obj);

    /**
     * 删除
     *
     * @param id
     * @return
     */
    int deleteById(@Param("id") Long id);


}

